@charset "UTF-8";
/* CSS Document */

/* body default */
html{
	overflow-y: scroll; /* show vertical scroll bar always (needed for constant centering body text) */
	-webkit-text-size-adjust: none; /* Prevent font scaling in iPhone OS */
}
html, body{ 
	height:100%; /* key point for 100% div height */
	color:#666666;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif, MS Gothic, ヒラギノ角ゴ Pro W3; /****/
	background: #F4F4F4;
	margin: 0;
	padding: 0;
	color: #000;

	background-image: url('../images/background.png'); /** Link to the image you created **/
	background-repeat: repeat-x; /** Repeats the image vertically **/
	background-position: top; /** Centers the Background image **/
	background-color: #F4F4F4; /** Website BG colour (matches canvas colour in Step 1) **/
	
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	height:100%; /* set div bounding box to window height */ 
	min-height: 100%; /* key point for 100% div height */

/*s	position:relative;	/* very important for layout control */
/*	margin:0px auto; /* moving the whole div into center */
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	color:#666666;
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	/* padding-right: 15px; */
	/* padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

/* MK: these will remove white spaces around tables and images */
table {
/*	border-collapse: collapse; */ /* this line brakes the rounded corner */
}

img {
	display: inline;
	margin: 0px;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* MK end */

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #666666;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	margin-top: 10px;
}
.topmenubar {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	margin-top: 25px;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.xsmall{
	font-size: x-small
}
.small{
	font-size: small
}
.content {
	background-color: #F4F4F4; /** Website BG colour (matches canvas colour in Step 1) **/
	padding: 0px 0;
}
.topmenu {
	background-color: #FFFFFF; /** Website BG colour (matches canvas colour in Step 1) **/
	padding: 0px 0;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
@font-face {
    font-family: 'pictograms';
    src: url('fonts/modernpics-webfont.eot');
    src: url('fonts/modernpics-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpics-webfont.ttf') format('truetype'),
         url('fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
div.pictograms {
  width: 2em;
  font: 1.40em 'pictograms';
  float: left;
  text-align: right;
  margin-right: 0.3em;
}

label {
	display: block;
	margin-bottom: 5px;
  }
  

.label-info,
.badge-info {
  border-radius: 3px;
  background-color: #3a87ad;
  text-decoration:none; 
  font-size:14px; 
  color:#FFFFFF; 
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}

.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}

.label_download {
	padding: 1px 4px 2px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 13px;
	color: #ffffff;
	vertical-align: top;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  }
  
.peopleIMG {
	box-shadow: 3px 3px 6px #888;
	width: 120px;
	height: 120px; 
}


.peopleContainer {
	width: 120px;
	/* box-align: left; */
}

.peopleContainerFirst {
	float:left; 
	padding-left:20px; 
	padding-right:30px
}

.peopleName {
	text-decoration: none; 
	font-size: 16px; 
	font-weight:bold; 
	color:#999999;
}

.peopleTitle {
	text-decoration:none; 
	font-size:14px; 
	font-weight:bold; 
	color:#999999;
}

.peopleEmail {
	text-decoration: none; 
	font-size: 13px; 
	font-weight: bold; 
	color:#CCCCCC;
}

.paperFIG {
	box-shadow: 3px 3px 6px #888;
}